body{
    margin: 0;
    /* overflow-x: hidden; */
    font-family: roboto;

}
*{
    /* max-width: 960px; */
    /* border: 2px solid firebrick; */
}

h1{
    margin: 30px 0 0 30px;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
}

.container div{
    margin: 50px;

}
.container div>img{
    border-radius: 20px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.container div>img:hover{
    width: 265px;
    height: 265px;
}


